<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
 </nav>
<div class="container">
	<div class="row py-5">
		<div class="col-lg-3">
			<img src="./assets/img/imagen.png"> Sandra Uribe
        
                <ul class="listado">
                    <p>Nota Económica </p>
                    <p>Resumen</p>
                     <p>Reportes</p> 
                     <p>Paquetes</p>
                     <p>Órdenes</p> 
                </ul>
                    <select class="form-control">
                        <option selected="true" disabled="true">Nota educativa</option>
                    </select>
                </div>   
                <div class="col-lg-9">
                    <h1 style="font: Medium 70px/56px Butler;">$200.000 </h1> 
                </div>
               
                