<div>
      <router-outlet></router-outlet>
</div>      

<!-- Footer -->
<footer class="page-footer font-small blue pt-5" style="background-color: #F47921; color: white;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-3 mb-md-0 mb-0" style="padding-left:10px;">
        <!-- Links --> 
        <h5 class="text-uppercase">Programas</h5>
        <ul class="list-unstyled">
          <li>
           <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
          <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
          <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
          <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
           <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
           <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
          <small><a href="#!">Carrera Universitaria</a></small>
          </li>
          <li>
           <small> <a href="#!">Carrera universitaria</a></small>
          </li>
        </ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-12"style="padding-left: 10px;">

        <!-- Links -->
        <h5 class="text-uppercase">Universidades</h5>

        <ul class="list-unstyled">
          <li>
           <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
          <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
          <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
           <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
          <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
           <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
           <small><a href="#!">Universidad de Colombia</a></small>
          </li>
          <li>
           <small><a href="#!">Universidad de Colombia</a></small>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-12"style="padding-left: 10px;">

        <!-- Links -->
        <h5 class="text-uppercase">Ciudad</h5> 

        <ul class="list-unstyled">
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
          <li>
           <small><a href="#!">Bogotá D.C</a></small>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
       <div class="col-md-3mt-md-2 mt-2">

        <!-- Content -->
        <h1 class="text-uppercase">Suscríbete</h1>
        <p>Tu email</p>
        <hr style="background-color: : white;">

        <p>Siguenos</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-0">
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->