<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
 </nav>
<div class="container">
	<div class="row py-5">
		<div class="col-lg-3">
			<img src="./assets/img/imagen.png"> Sara Uribe 
		</div>
		<div class="col-lg-2"> 
			<p>NUEVOS USUARIOS</p>
			<h4 style="color: #12C112">127</h4>
		</div>
		<div class="col-lg-2">
			<p>Nuevas visitas</p>
			<h4 style="color: #12C112">127</h4>
		</div>
		<div class="col-lg-3">
			<p>NUEVAS SUSCRIPCIONES</p>
			<H4 style="color: #12C112">127</H4>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-danger"><i class="fas fa-plus">Añadir nuevo</i></button>
		</div>
	    <div>
		 <p style="color: #F47921">Nota Económica</p>	
		 <p>Nota Educativa</p>
		 <p><i class="fas fa-exclamation-circle"></i>Universidades</p>
		 <p><i class="fas fa-exclamation-circle"></i>Resumen</p> 
		 <p><i class="fas fa-exclamation-circle"></i>Añadir Nueva</p> 
		</div> 
	  </div>
     </div>
     <div class="row">
	  <div class="col-9">
	  <div class="row justify-content-center align-content-center py-2">
		<h4 style="color: #808080">estadistica</h4>
	  </div>
     </div>
      <div class="row py-5">
	  <div class="col-lg-4">		
     </div>
      <div class="col-8">
       <img src="./assets/img/Image 24.png">
      </div>
     </div>
     </div>
     <div class="row justify-content-center align-content-center py-2">
                                   <div class="col-lg-3">
                                     <h5 style="color: #808080;">Descargas bases datos</h5>
                                        </div>
                           <div class="col-1"> 
                          </div>
                        </div>
                           <div class="row py-5" >
                            <div class="col-3">
                                </div>
                        <div class="col-2" style="margin: 0px; padding: 0px;">
                               <p>rango</p>
                            <input type="search"  name="universidad" class="form-control" placeholder= "mensual" style="height: 50px; margin: 5px;"> 
                        </div>
                        <div class="col-3" style="margin: 0px; padding: 0px;">
                             <p>fecha</p>
                            <input type="search"  name="universidad" class="form-control" placeholder= "20/12/2019" style="height: 50px; margin: 5px;"> 
                        </div>
                        <div class="col-3" style="margin: 0px; padding: 0px;">
                             <p>fecha</p>
                            <input type="search"  name="universidad" class="form-control" placeholder= "20/12/2019" style="height: 50px; margin: 5px;"> 
                        </div>
                         <div>
                          <button class="btn btn-danger">flitrar</button>
                         </div>
                        </div>
