<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1 col-lg-3">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    
  <div class="col-lg-6">
    <form class="form-row">
      <div class="col-5" style="margin: 0px; padding: 0px;">
        <input type="search" name="carrera" class="form-control" placeholder="Carrera o Programa" style="height: 40px; margin: 0px;"> 
      </div>
      <div class="col-5" style="margin: 0px; padding: 0px;">
        <input type="search" name="universidad" class="form-control" placeholder="Universidad" style="height: 40px; margin: 0px;">  
      </div>
      <div class="col-2" style="margin: 0px; padding: 0px;">
        <button class="btn" style="background-color:  #F05024; height: 40px; width: 60px; margin: 0px;"><i class="fa fa-search"></i></button>   
      </div>
    </form> 
  </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">  
              <a [routerLink]="['/inicio']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">INICIO</a>
            </li>
            <li class="nav-item">  
              <a [routerLink]="['/programas']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">PROGRAMAS</a>
            </li>
            <li class="nav-item">  
              <a href="#" class="nav-link" style="color: #0A6C7E; font-size: 13px;">UNIVERSIDAD</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" >
  <div class="row" >
    <div class="col-lg-12">
      flecha        
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <img src="./assets/img/images.png">
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h1 style="font: Medium 70px/56px Butler;">Ingenieria civil</h1>
          <p>Pontifica Universidad Javeriana <span style="color: #F05024;">visitar sitio</span></p>
          <p style="color: #0A6C7E;">Bogotá D.C.</p>
            </div>
          </div>
       </div>
    <div class="col-lg-4">
      <button type="button" class="btn btn-success" style="margin-right: 2%;">Ver sitio de la universidad</button>
      <button type="button" class="btn btn-danger">icono</button>
    </div>
  </div>
   <div class="row py-5" style="border: solid black 1px; background-color: #EBFDF7; 
    border-radius: 10px;">
    <div class="col-lg-12">
      <div class="row py-5">
       <div class="col-lg-4">
       <small><p style="color: #0A6C7E;">Información del programa</p></small>
       </div>
       <div class="col-lg-2">
        <small><p style="color: #0A6C7E;">Código SNIES</p></small>
       <small>  <p style="color: #0A6C7E;">1980</p></small>
       </div>
       <div class="col-lg-2">
        <small><p style="color: #0A6C7E;">Resolución MEN</p></small>
       <small><p style="color: #0A6C7E;">3591 de 12/04/2012</p></small>
       </div>
       <div class="col-lg-2">
        <small><p style="color: #0A6C7E;">Vigencia de resolucón</p></small>
       <small><p style="color: #0A6C7E;">8 Años</p></small>
       </div>
       <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-3">
       <i class="imagen" style="color: #0A6C7E;"></i>
       <p style="line-height: 0px;" style="color: #F05024;">Titulo otorgado</p>
       <p style="line-height: 0px;"><strong>Ingeniero civil</strong></p>
        </div>
        <div class="col-lg-2">
                  <i class="" style="color: #0A6C7E;"></i>
                  <p style="line-height: 0px;" style="color: #F05024;">titulo De Admision</p>
                   <p style="line-height: 0px;"><strong>semestral</strong></p>
        </div>
        <div class="col-lg-2">
                  <i class="" style="color: #0A6C7E;"></i>
                 <p style="line-height: 0;" style="color: #F05024;">Duracion total</p>
                  <p style="line-height: 0px;"><strong>10 semestres</strong></p>
        </div>
        <div class="col-lg-2">
                <i class="" style="color: #0A6C7E;"></i>
                <p style="line-height: 0;" style="color: #F05024;">inicio de Programa</p>
                <p style="line-height: 0px;"><strong>Febrero 2019</strong></p>           
        </div>
        <div class="col-lg-3">
                 <i class="" style="color: #0A6C7E;"></i>
                 <p style="line-height: 0px;" style="color: #F05024;">Costro de Semestre</p>
                 <p style="line-height: 0px;"><strong>12.000.000</strong></p>
        </div>
      </div>
       <div class="row">
        <div class="col-lg-3">
                 <small><p>Nivel de estudios: Profesional</p></small>
        </div>
        <div class="col-lg-2">
                  <small><p>Modalidad Profecional</p></small>
        </div>
        <div class="col-lg-2">
                   <small><p>Jornada Diurna/Nortuna</p></small>
        </div>
        <div class="col-lg-2">
                 <small><p>Acreticion de alta calidad</p></small>
        </div>
        <div class="col-lg-3">
                  <small><p>Area de conocimiento ingeneria, Tecnologia arquictetura y a fines</p></small>
        </div>
      </div>
    </div>
   </div>
   <div class="row py-5">
      <div class="col-3">
      <b><p>Descripcion</p></b>
    <b><p>Porque estudiar</p></b>
      <b><p>Perfil del egresado</p></b>
      <b><p>Plan de estudios</p></b>
      <b><p>Contacto</p></b>
       </div>
      <div class="col-6">
        <h5 style="color: #0A6C7E;" class="progress-bar" style="width: 70%">Descripcion</h5>
     <small><p>La ingeniería civil es una profesión que consiste en utilizar el ingenio y la creatividad para generar las mejores soluciones que permitan el desarrollo de la infraestructura física del país, por lo cual exige un serio compromiso con la sociedad. En el ingeniero civil se deben reunir sólidos conocimientos de las ciencias físicas, matemáticas y humanísticas, con una especial capacidad investigativa y práctica, todo ello producto de una formación integral.</p></small>   
       </div>
      <div class="col-lg-1">
        <p>Destacados</p>
        <P>imagen</P>
         </div> 
         <div class="col-lg-2">
           <h6>Universidad Cooperativa</h6>
           <p>medicina veterinaria</p>
           <p>Medellin,Antioquia</p>
         </div>  
        </div>
        <div class="row py-5">
      <div class="col-3">
       </div>
      <div class="col-6">
         <h5 style="color: #0A6C7E;">Por que estudiar Ingenieria Civil</h5>
      <small><p>La Ingeneria Civil es la disiplina que se encarga de la planificacion,
        diseño,contruccion,operacion y mantenimiento de las obras y proyectos 
        de infraestructura,que permiten el desarrollo de un pais, sus regiones,
        las grandes ciudades y las pequeñas poblaciones urbanas y rurales.La
        ingeneria civil genera proyectos para mejorar la calidad de vida 
        teniendo en cuenta la sostenibilidad,el cuidado del medio ambiente
        y su responsabilidad,el cuidad del medio ambiente y su responsabilidad 
        hacia las comunidades.</p></small>    
       </div>
      <div class="col-lg-1">
        <p>Destacados</p>
      <img src="./assets/img/foto universidad paga.png"  class="rounded"width="120%" alt="./assets/img/foto universidad paga"> 
         </div>
         <div class="col-lg-2">
           <h6>Universidad Javeriana</h6>
           <p>medicina veterinaria</p>
           <p>Medellin, Antioquia</p>
         </div>   
        </div> <div class="row py-5">
      <div class="col-3">
       </div>
      <div class="col-6">
        <h5 style="color: #0A6C7E;">Perfil del egresado</h5>
     <small><p>Como Ingeniero Civil de la Universidad Tecnologica de Bolivar, seras
         constructor de futuro. Tendras muchas oportunidades de accion,ya 
         que por vocacion es un servicio a la sociedad,constituyendo como
         el sentido unico de su existencia y finalidad ultima.Estaras
         preparado y seras consciente de que los grandes proyectos de la
        Ingeneria Civil han de ser planificados estrategicamente par</p></small>  
       </div>
      <div class="col-lg-1">
        <p>Destacados</p>
       <p>imagen</p>
         </div>
         <div class="col-lg-2">
           <h6>Universidad de los Andes</h6>
           <p>medicina veterinaria</p>
           <p>Medellin,Antioquia</p>
         </div>   
        </div>
         <div class="row py-5">
      <div class="col-3">
       </div>
      <div class="col-6">
        <h5 style="color: #0A6C7E;">Plan de estudios</h5>
         <button>Descargar el plan de estudios</button>
       </div>
      <div class="col-lg-1">
        
         </div>   
        </div>
         <div class="row py-5">
      <div class="col-3">
       </div>
      <div class="col-6">
        <h5 style="color: #0A6C7E;">Contacto</h5>
          <small><p>por favor complete el formulario, y reciva informacion detallada
           acerca de tu carrera y universidades de su interes.</p></small>
        <p>Nombre</p>
        <input type="name" name="name" placeholder="">
        <p>correo electronico</p>
        <input type="email" name="email" placeholder="">
        <p>celular</p>
        <input type="movil" name="movil" placeholder="">
        <p>programas de interes</p>
        <input type="" name="" placeholder="">
        <p>universidad</p>
        <input type="" name="" placeholder="">
        <div>
        <input class="form-check-input" type="checkbox">
       <p>He leido y acepto los terminos y condiciones</p>
       </div>
       </div>
      <div class="col-lg-3">
       
         </div>   
        </div>