<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1 col-lg-3">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    
  <div class="col-lg-6">
    <form class="form-row">
      <div class="col-5" style="margin: 0px; padding: 0px;">
        <input type="search" name="carrera" class="form-control" placeholder="Carrera o Programa" style="height: 40px; margin: 0px;"> 
      </div>
      <div class="col-5" style="margin: 0px; padding: 0px;">
        <input type="search" name="universidad" class="form-control" placeholder="Universidad" style="height: 40px; margin: 0px;">  
      </div>
      <div class="col-2" style="margin: 0px; padding: 0px;">
        <button class="btn" style="background-color:  #F05024; height: 40px; width: 60px; margin: 0px;"><i class="fa fa-search"></i></button>   
      </div>
    </form> 
  </div>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">  
              <a [routerLink]="['/inicio']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">INICIO</a>
            </li>
            <li class="nav-item">  
              <a [routerLink]="['/programas']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">PROGRAMAS</a>
            </li>
            <li class="nav-item">  
              <a href="#" class="nav-link" style="color: #0A6C7E; font-size: 13px;">UNIVERSIDAD</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
  <div class="row" style="left: 10%;">
    <div class="col-lg-12">
      flecha        
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <img src="./assets/img/images.png">
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h1 style="font: Medium 70px/56px Butler;">Ingenieria civil</h1>
          <p>Pontifica Universidad Javeriana <span style="color: #F05024;">visistar sitio</span></p>
          <p style="color: #0A6C7E;">Bogotá D.C.</p>
            </div>
          </div>
       </div>
    <div class="col-lg-4">
      <button type="button" class="btn btn-success" style="margin-right: 2%;">Ver sitio de la universidad</button>
      <button type="button" class="btn btn-danger">icono</button>
    </div>
  </div>
   <div class="row">
     <div class="col-lg-6">
       <div>
         <p>Informacion del programa</p>
       </div>
     </div>
   </div>
</div>
