<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
     <div class="row justify-content-center align-content-center" >
				<div class="col-11">		
					<form class="form-row">
						<div class="col-5" style="margin: 0px; padding: 0px;">
							<input type="search"  name="universidad" class="form-control" placeholder= "Diceño grafico" style="height: 60px; margin: 0px;">	
						</div>
						<div class="col-2" style="margin: 0px; padding: 0px;">
							<button class="btn" style="background-color:  #F05024; height: 60px; width: 60px; margin: 0px;"><i class="fa fa-search"></i></button>		
						</div>
					</form>		
				</div>
				<div class="container">
					<div class="row py-5">
					<div class="col-2">	
						<p>Filtra tu busqueda</p>
					</div>
					<div class="col-2">
						<input type="search"  name="universidad" class="form-control" placeholder= "" style="height: 40px; margin: 0px;">
					</div>
					<div class="col-3">
						<input type="search"  name="universidad" class="form-control" placeholder= "" style="height: 40px; margin: 0px;">
					</div>
					<div class="col-3">
						<input type="search"  name="universidad" class="form-control" placeholder= "" style="height: 40px; margin: 0px;">
					</div>
					<div class="col-1">
						<input type="search"  name="universidad" class="form-control" placeholder= "" style="height: 40px; margin: 0px;">
						</div>
                   <div class="row justify-content-center align-content-center py-2">
		           <div class="col-10 py-2">
			<div class="row">
				<h3>Destacadas<br></h3>	
			</div>
			<div class="row py-4">
				 <div class="col-lg-1">
              <img src="./assets/img/banner_neiva_portal.png" class="rounded"width="150%" alt="./assets/img/banner_neiva_portal">
         </div> 
         <div class="col-lg-2">
       <small><h6>Universidad Cooperativa</h6></small>
          <small><p>medicina veterinaria</p></small>
           <p style="color: color: #0A6C7E;">Medellin,Antioquia</p>
         </div> 
				<div class="col-3">
					<img src="./assets/img/Simbolo_Universidad_El_Bosque.png" width="100%">	
					<h6 style="margin-top: 10px;">Universidad Javeriana</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Bogotá, D.C</p>
						
				</div>
				<div class="col-3">
					<img src="./assets/img/Captura-de-pantalla.png" width="100%">	
					<h6 style="margin-top: 10px;">Universidad de los Andes</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Bogotá, D.C</p>
						
				</div>
				<div class="col-3">
					<img src="./assets/img/u.javeriana.png" width="100%">		
					<h6 style="margin-top: 10px;">Universidad Piloto</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Bogotá, D.C</p>
					
				</div>
			</div>
			<div class="row py-4">
				<div class="col-lg-1">
           <img src="./assets/img/foto universidad paga.png"  class="rounded"width="150%" alt="./assets/img/foto universidad paga"/> 
         </div>
         <div class="col-lg-2">
           <small><h6>Universidad Cooperativa</h6></small>
          <small><p>medicina veterinaria</p></small>
           <p style="color: color: #0A6C7E;">Medellin,Antioquia</p>
         </div>
				<div class="col-3">
					<img src="./assets/img/Universidad-de-Antioquia.png" width="100%">	
					<h6 style="margin-top: 10px;">Universidad de Antioquia</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Bogotá, D.C</p>
						
				</div>
				<div class="col-3">
					<img src="./assets/img/banner_neiva_portal.png" width="100%">	
					<h6 style="margin-top: 10px;">Universidad tecnologica de Bolivar</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Cartagena, Bolivar</p>
						
				</div>
				<div class="col-3">
					<img src="./assets/img/saman.png" width="100%">		
					<h6 style="margin-top: 10px;">Universidad EIA</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Bogotá, D.C</p>
					
				</div>
			</div>
			<div class="row">
		 <div class="col-lg-1">
      <img src="./assets/img/uniandes.png" class="rounded"width="80px" alt="./assets/img/uniandes">
         </div>
         <div class="col-lg-2">
            <small><h6>Universidad Cooperativa</h6></small>
          <small><p>medicina veterinaria</p></small>
           <p style="color: color: #0A6C7E;">Medellin,Antioquia</p>
         </div>	
	       </div>
		</div>
	</div>
	
					</div>
				</div>
			</div>
