<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
 </nav> 
 <div class="container">
          <div class="row py-5">
            <div class="col-4">
              <img src="./assets/img/01-shutterstock_476340928-Irina-Bg.png"> Sara Uribe
              <p style="color: #0A6C7E;">nota economica</p>
                <p style="color: #F47921;">nota educativa</p>
                 <p>universidades</p>
                   <p>resumen</p>
                   <p>añadir nuevo</p>
                    </div>
                      <div class="col-3">
                       <p>total de universidades</p>
                          <h4 style="color: #12C112;">127</h4>
                          <p>registro</p>
                      </div>
                         <div class="col-3">
                           <p>paquetes premium</p>
                           <h4 style="color: #F47921;">80</h4>
                           <p>universidades</p> 
                         </div>
                             <div class="col-1"> 
                              <button>màs</button>   
                             </div>
                             <div class="col-2">
                             </div>
                            </div>
                      <div class="row py-5">
                           <div class="col-4">
                             </div>
                           <div class="col-2">
                            <p>nombre</p>
                              </div>
                                <div class="col-2">
                                    <p>fecha</p>
                                     </div>
                                         <div class="col-1">
                                          <p>plan</p>
                                              </div>
                                     <div class="col-2">
                                       <p>Estado</p>
                                             </div>
                                            <div class="col-1">
                                          <p>Perfil</p>
                                         </div>
                                            </div>
                                          <div class="row py-4">
                                            <div class="col-4">
                                               </div>
                                             <div class="col-2">
                                               <p>#0000 Universidad del Valle</p>
                                                </div>
                                                 <div class="col-2">
                                               <p>2012-12-12</p>
                                                 </div>
                                             <div class="col-1">
                                              <p>PREMIUM</p>
                                               </div>
                                             <div class="col-2">
                                            <p style="color: #12C112;">ACTIVO</p>
                                              </div>
                                        <div class="col-1">
                                              <button>Editar</button>
                                                </div>
                                         </div>
                                       <div class="row py-4">
                                   <div class="col-4">
                                        </div>
                                    <div class="col-2">
                                      <p>#0000 Universidad javeriana</p>
                                        </div>
                                    <div class="col-2">
                                                <p>2012-12-12</p>
                                                    </div>
                                            <div class="col-1">
                                            <p>PREMIUM</p>
                                             </div>
                                      <div class="col-2">
                                   <p style="color: #12C112;">ACTIVO</p>
                                  </div>
                           <div class="col-1">
                            <button>Editar</button>
                          </div>
                        </div>  
                        <div class="row py-4">
                                   <div class="col-4">
                                        </div>
                                    <div class="col-2">
                                      <p>#0000 Universidad javeriana</p>
                                        </div>
                                    <div class="col-2">
                                                <p>2012-12-12</p>
                                                    </div>
                                            <div class="col-1">
                                            <p>PREMIUM</p>
                                             </div>
                                      <div class="col-2">
                                   <p style="color: #12C112">ACTIVO</p>
                                  </div>
                           <div class="col-1">
                            <button>Editar</button>
                          </div>
                        </div>  
                        <div class="row py-4">
                                   <div class="col-4">
                                        </div>
                                    <div class="col-2">
                                      <p>#0000 Universidad javeriana</p>
                                        </div>
                                    <div class="col-2">
                                                <p>2012-12-12</p>
                                                    </div>
                                            <div class="col-1">
                                            <p>PREMIUM</p>
                                             </div>
                                      <div class="col-2">
                                   <p style="color: #12C112;">ACTIVO</p>
                                  </div>
                           <div class="col-1">
                            <button>Editar</button>
                          </div>
                           </div>
                           <div class="row py-5">
                                   <div class="col-4">
                                     <h3 style="color: #808080;">Descargas bases datos</h3>
                                        </div>
                                    <div class="col-2">
                                        </div>
                                    <div class="col-2">
                                                    </div>
                                            <div class="col-1">
                                             </div>
                                      <div class="col-2">
                                  </div>
                           <div class="col-1"> 
                          </div>
                        </div>
                           <div class="row py-5" >
                            <div class="col-3">
                                </div>
                        <div class="col-2" style="margin: 0px; padding: 0px;">
                               <p>rango</p>
                            <input type="search"  name="universidad" class="form-control" placeholder= "mensual" style="height: 50px; margin: 0px;"> 
                        </div>
                        <div class="col-3" style="margin: 0px; padding: 0px;">
                             <p>fecha</p>
                            <input type="search"  name="universidad" class="form-control" placeholder= "20/12/2019" style="height: 50px; margin: 0px;"> 
                        </div>
                        <div class="col-3" style="margin: 0px; padding: 0px;">
                             <p>fecha</p>
                            <input type="search"  name="universidad" class="form-control" placeholder= "20/12/2019" style="height: 50px; margin: 0px;"> 
                        </div>
                         <div>
                         <button>flitrar</button>
                         </div>
                        </div>
