<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
	</div>
	<div class="col-lg-10">
    <form class="form-row">
      <div class="col-4" style="margin: 0px; padding: 0px;">
        <input type="search" name="carrera" class="form-control" placeholder="Carrera o Programa" style="height: 40px; margin: 0px;"> 
      </div>
      <div class="col-4" style="margin: 0px; padding: 0px;">
        <input type="search" name="universidad" class="form-control" placeholder="Universidad" style="height: 40px; margin: 0px;">  
      </div>
      <div class="col-4" style="margin: 0px; padding: 0px;">
        <button class="btn" style="background-color:  #F05024; height: 40px; width: 60px; margin: 0px;"><i class="fa fa-search"></i></button>   
      </div>
    </form> 
  </div>
</nav>
<div class="container">
	<div class="row justify-content-center align-content-center py-2">
			<div class="row">
				<div class="col-12 text-center">
					<img src="./assets/img/banner_neiva_portal.png" width="90%" height="300px" style="border-radius: 20px;">
					<img src="./assets/img/images.png" width="10%" position= "absolute" left= "10%" top= "69%" > 
				</div>
  		</div>
	</div>
	<div class="row justify-content-center align-content-center py-2">
		<div class="col-12 col-lg-9 py-2">
			<div class="row">
				<h1 style="color: #0A6C7E;">Universidad Javeriana</h1>
			</div>
			<div>
				<div class="row justify-content-center align-content-center py-2">
					<div class="col-10 py-2">
						
					    <div class="row py-4">
							<div class="col-4">	
								<h6 style="margin-top: 10px;">
									<i class="fas fa-clock" style="color: #F05024;"></i>13.000
									<p>estudiantes</p></h6>
								</div>
							<div class="col-4">
								<h6 style="margin-top: 10px;">
									<i class="fas fa-clock" style="color: #F05024;"></i>60
									<p>estudiantes</p></h6>
								</div>
						<div class="col-3">
							<h6 style="margin-top: 10px;">
                               <i class="fas fa-clock" style="color: #F05024;"></i>3/5 años
							<p>Duracion de plan de estudios</p></h6>
						 </div>
						 <i class="fas fa-clock" style="color: #F05024;"></i> privado
					</div>
				</div>
			</div>
			<div class="row py-4" style="background-color: #FAFAFF;"> 
				<div class="col-4" >
					<div>
						<h6>Campus<br>Universitario</h6>
						 <img src="./assets/img/Image 18.png" width="150px" height="90px">
						<div class="col-4">
							<i class="fas fa-map-marker-alt" style="color: #F05024;"></i> No 131 A, AK 9#131a2, Bogotá
							<div>
							<i class="fas fa-map-marker-alt" style="color: #F05024;"></i> Email: dminsiones@unibosq	
						    </div>
							<i class="fas fa-map-marker-alt" style="color: #F05024;"></i> Teléfonos:3003123212
						</div>
						<button ><i class="fas fa-bookmark" style="color: black"></i> Favoritos</button > 
			        </div>
				  </div> 
				  <div class="col-8">
					<h4 style="color: #0A6C7E;">Describcion</h4>
                 <small><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
					ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
					dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit 
					amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
					invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et 
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum 
					dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
					tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
					accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
					Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
					nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
					vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
					sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
				   </p></small>
				</div>
			 </div>
			 <div class="row py-2">
				<div class="col-4">
					<button> Favoritos</button > 

					<p>Programas</p>
					<p>Ranking Nacional</p>
					<p>Admisiones</p>
					<p>Programas</p>
					<p>Facultades</p>
					<p>Galeria</p>
				</div>
				<div class="col-4">
					<h4 style="color: #0A6C7E;">Informacion</h4>
				  <p>tipo de universidad</p>
				  <h4 style="color: #0A6C7E;">Privado</h4>
				   <p>sedes</p>
				   <i class="fas fa-map-marker-alt" style="color: #F05024;"></i>Bogotá
				</div>
			</div>
			<div class="row py-4">
				<div class="col-4">
				</div>
				<div class="col-4">
				<h4 style="color: #0A6C7E;">Programas</h4>
				<p><i Class="fas fa-map-marker-alt" style="color: #F05024;"></i>Pregrados</p>
				<p><i Class="fas fa-map-marker-alt" style="color: #F05024;"></i>postgrado</p>
				<p><i Class="fas fa-map-marker-alt" style="color: #F05024;"></i>Maestria</p>
				<p><i Class="fas fa-map-marker-alt" style="color: #F05024;"></i>Doctorados</p>
				</div>
				<div class="col-3">
				   <p>Duracion carreras profesional</p>
				   <h1 style="color: #0A6C7E;">5 años</h1>
				   <p>Duracion carreras tecnicas</p>
				   <h1 style="color: #0A6C7E;">3 años</h1>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-lg-8" style="margin-left: 32%;">
					<h4 style="color: #0A6C7E;">Ranking Nacional</h4>
					<hr>
					<div class="row">
						<div class="col-lg-8"><img src="./assets/img/Image 17.png"></div>
						<div class="col-lg-4">
							<p>Ranking nacional</p>
							<h1 style="color: #0A6C7E;">5</h1>
							<p>ranking departamental</p>
							<h1 style="color: #0A6C7E;">2</h1>
					 </div>
					</div>
				</div>
			  </div>
		</div>
	</div>
</div>