<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">  
              <a [routerLink]="['/inicio']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">INICIO</a>
            </li>
            <li class="nav-item">  
              <a [routerLink]="['/programas']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">PROGRAMAS</a>
            </li>
            <li class="nav-item">  
              <a [routerLink]="['/universidad']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">UNIVERSIDAD</a>
            </li>
            <li class="nav-item">  
              <a href="#" class="nav-link" style="color: #0A6C7E; font-size: 13px;">EMPLEO</a>
            </li>
            <li class="nav-item">  
              <a href="#" class="nav-link" style="color: #0A6C7E; font-size: 13px;">LETRAS Y NUMEROS</a>
            </li>
            <li class="nav-item">
              <a href="" class="btn login" style="color: #0A6C7E; font-size: 13px;">Sing In</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
	<div class="row justify-content-center align-content-center py-2">
			<div class="row">
				<div class="col-12 text-center">
					<img src="./assets/img/banner_neiva_portal.png" width="90%" height="300px" style="border-radius: 10px;">	
					<img src="./assets/img/.png" alt="" width="10%" style="">
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center align-content-center py-2">
		<div class="col-12 col-lg-9 py-2">
			<div class="row">
				<h3>Universidad Javeriana</h3>
			</div>
			<div>
				<div class="row justify-content-center align-content-center py-2">
					<div class="col-10 py-2">
						
						<div class="row py-4">
							<div class="col-4">	
								<h6 style="margin-top: 10px;">
									<i class="fas fa-clock"></i>13.000
									<p>estudiantes</p></h6>
									
							</div>
							<div class="col-4">
								<h6 style="margin-top: 10px;">
									<i class="fas fa-clock"></i>60
									<p>estudiantes</p></h6>
								
						</div>
					</div>
				</div>
			</div>
			<div class="row py-4">
				<div class="col-12 col-lg-3" >
					<div>
						<h6>Campus <br>Universitario</h6>
						<img src="./assets/img/mapa.png" width="150px" height="90px">
						<hr>
						<div class="text-left">
							<i class="fas fa-map-marker-alt"></i> No 131 A, AK 9#131a2, Bogotá
							<div>
							<i class="fas fa-map-marker-alt"></i> Email: dminsiones@unibosq	
						    </div>
							<i class="fas fa-map-marker-alt"></i> Teléfonos:3003123212
						</div>
						<button><i class="fas fa-bookmark"></i>Favoritos</button> 
						<div> 
				 </div>
					<p>programas</p> 
					<p>Ranking nacional</p>
					<p>Admisiones</p>
					<p>Programas</p>
					<p>Facultades</p>
					<p>Galería</p> 
				   </div>
				</div>
			</div>
		</div>
	</div>
</div> 