<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 60px;">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="./assets/img/LOGO-LNEDU.png" alt="logo" width="100%">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">  
              <a [routerLink]="['/inicio']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">INICIO</a>
            </li>
            <li class="nav-item">  
              <a [routerLink]="['/programas']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">PROGRAMAS</a>
            </li>
            <li class="nav-item">  
              <a [routerLink]="['/universidad']" class="nav-link" style="color: #0A6C7E; font-size: 13px;">UNIVERSIDAD</a>
            </li>
            <li class="nav-item">  
              <a href="#" class="nav-link" style="color: #0A6C7E; font-size: 13px;">EMPLEO</a>
            </li>
            <li class="nav-item">  
              <a href="#" class="nav-link" style="color: #0A6C7E; font-size: 13px;">LETRAS Y NUMEROS</a>
            </li>
            <li class="nav-item">
              <a href="" class="btn login" style="color: #0A6C7E; font-size: 13px;">Sing In</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
	<div class="row justify-content-center align-content-center py-5">
		<div class="col-11" style="background-color: #EBFDF7; border-radius: 20px;">
			<div class="row">
				<div class="col-6" style="margin-top: 10%;">
					<div class="row" style="margin-left: 10%;">
						<h1 style="font-size: 3.6vw;">Descubre <span style="color: #00A59A;">Universidades</span> 
							<br> <span style="color: #00A59A; ">y Carreras</span> a tu medida.</h1>
						<p>Lorem ipsum dolor sit-amet, consetetur sadipscing elitr,<br>
						sed diam nonumy eirmod tempor invidunt ut labore et</p>
					</div>
					<div class="row" style="margin-left: 10%; margin-top: 15%;">
						<div class="col-3">
							<img src="./assets/img/12.png" width="100%">		
						</div>
						<div class="col-3">
							<img src="./assets/img/idecut.png" width="100%">		
						</div>
						<div class="col-3">
							<img src="./assets/img/4.png" width="100%">		
						</div>
						<div class="col-3">
							<img src="./assets/img/5.png" width="100%">		
						</div>
					</div>
				</div>
				<div class="col-5">
					<img src="./assets/img/nosotros-min.png" width="100%">	
				</div>
			</div>
			<div class="row justify-content-center align-content-center" >
				<div class="col-11">		
					<form class="form-row">
						<div class="col-5" style="margin: 0px; padding: 0px;">
							<input type="search" name="carrera" class="form-control" placeholder="Carrera o Programa" style="height: 60px; margin: 0px;">	
						</div>
						<div class="col-5" style="margin: 0px; padding: 0px;">
							<input type="search" name="universidad" class="form-control" placeholder="Universidad" style="height: 60px; margin: 0px;">	
						</div>
						<div class="col-2" style="margin: 0px; padding: 0px;">
							<button class="btn" style="background-color:  #F05024; height: 60px; width: 60px; margin: 0px;"><i class="fa fa-search"></i></button>		
						</div>
					</form>		
				</div>
			</div>
		</div>
	</div>




	<div class="row justify-content-center align-content-center py-2">
		<div class="col-10 py-2">
			<div class="row">
				<h3>Universidades Destacadas <br>en colombia</h3>	
			</div>
			<div class="row py-4">
				<div class="col-4">
					<img src="./assets/img/u.javeriana.png" width="100%">	
					<h6 style="margin-top: 10px;">Pontifica Universidad Javeriana</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Acreditación de Calidad</p>
					<p style="line-height: 10px;">Bogotá D.C</p>	
				</div>
				<div class="col-4">
					<img src="./assets/img/Unitecnológica_de_Bolívar.png" width="100%">	
					<h6 style="margin-top: 10px;">Universidad Tecnologica de Bolivar</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Acreditación de Calidad</p>
					<p style="line-height: 10px;">Cartagena, Bolivar</p>	
				</div>
				<div class="col-4">
					<img src="./assets/img/polit-cnico-grancolombiano-instituci-n-universitaria-003074_large.png" width="100%">		
					<h6 style="margin-top: 10px;">Politecnico Gran Colombiano</h6>
					<p style="line-height: 10px; color: #0A6C7E;">Acreditación de Calidad</p>
					<p style="line-height: 10px;">Bogotá D.C</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center align-content-center py-2">
		<div class="col-12 col-lg-9 py-2">
			<div class="row">
				<h3>Top carreras</h3>
			</div>
			<div class="row py-4">
				<div class="col-12 col-lg-3" >
					<div class="text-center" style="border-radius: 10px; background-color: white; border: solid #00000029 1px; padding: 4%; box-shadow: 1px 5px #00000029; ">
						<img src="./assets/img/logo-ub2.png" width="73px" height="73px">	
						<h6>Universidad <br> del Bosque</h6>
						<hr>
						<div class="text-left">
							<p><strong style="color: #0A6C7E; line-height: 0px;">Medicina Veterinaria</strong></p>
							<p style="color: #0A6C7E; line-height: 0px;">Bogotá, Cundinamarca</p>	
						</div>
						<div class="row py-3">
							<div class="col-12">
							<div class="float-left">
								<p style="font-size: 14px;">Profesional</p>
							</div>
							<div class="float-right">
								<button class="btn" style="background-color: #F05024; color: white;">Ver mas</button>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="text-center" style="border-radius: 10px; background-color: white; border: solid #00000029 1px; padding: 4%; box-shadow: 1px 5px #00000029; ">
						<img src="./assets/img/logoudea.png" width="73px" height="73px">
						<h6>Universidad <br> ICESI</h6>		
						<hr>
						<div class="text-left">
							<p><strong style="color: #0A6C7E; line-height: 0px;">Tecnico Audiovisual</strong></p>
							<p style="color: #0A6C7E; line-height: 0px;">Cali, Valle del Cauca</p>	
						</div>
						<div class="row py-3">
							<div class="col-12">
							<div class="float-left">
								<p style="font-size: 14px;">Profesional</p>
							</div>
							<div class="float-right">
								<button class="btn" style="background-color: #F05024; color: white;">Ver mas</button>
							</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-12 col-lg-3">
					<div class="text-center" style="border-radius: 10px; background-color: white; border: solid #00000029 1px; padding: 4%; box-shadow: 1px 5px #00000029; ">
						<img src="./assets/img/UDEA.png" width="73px" height="73px">
						<h6>Universidad <br> de Antioquia</h6>
						<hr>	
						<div class="text-left">
							<p><strong style="color: #0A6C7E; line-height: 0px;">Literatura y Letras</strong></p>
							<p style="color: #0A6C7E; line-height: 0px;">Medellin, Antioquia</p>	
						</div>
						<div class="row py-3">
							<div class="col-12">
							<div class="float-left">
								<p style="font-size: 14px;">Profesional</p>
							</div>
							<div class="float-right">
								<button class="btn" style="background-color: #F05024; color: white;">Ver mas</button>
							</div>
							</div>
						</div>	
					</div>
					
				</div>
				<div class="col-12 col-lg-3">
					<div class="text-center" style="border-radius: 10px; background-color: white; border: solid #00000029 1px; padding: 4%; box-shadow: 1px 5px #00000029; ">
						<img src="./assets/img/ANDES.png" width="73px" height="73px">	
						<h6>Universidad de <br> los Andes</h6>
						<hr>
						<div class="text-left">
							<p><strong style="color: #0A6C7E; line-height: 0px;">Diseño Visual</strong></p>
							<p style="color: #0A6C7E; line-height: 0px;">Bogotá, Cundinamarca</p>	
						</div>
						<div class="row py-3">
							<div class="col-12">
							<div class="float-left">
								<p style="font-size: 14px;">Profesional</p>
							</div>
							<div class="float-right">
								<button class="btn" style="background-color: #F05024; color: white;">Ver mas</button>
							</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 