<div class="row py-5">
	<div class="row justify-content-center align-content-center">
	<div class="col-10" style="background-color: #EBFDF7;">
		<h1>Descubre Universidades <br> y Carreras a tu medida</h1>
		<p>Lorem ipsum dolor sit-amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et</p>
		<img src="./assets/img/12.png">
		<img src="./assets/img/idecut.png">
		<img src="./assets/img/4.png">
		<img src="./assets/img/5.png">
		<img src="./assets/img/nosotros-min.png">
	</div>


	<div class="col-8">
		<h1>Universidades Destacadas en colombia</h1>
		<img src="./assets/img/article.png">
		<img src="./assets/img/Unitecnológica_de_Bolívar.png">
		<img src="./assets/img/polit-cnico-grancolombiano-instituci-n-universitaria-003074_large.png">
	</div>
	</div>
</div>

